
<div class="rg-intro-slider swiper">

	<div class="rg-intro-slider-wrapper swiper-wrapper">

		<div class="swiper-slide" data-slide-type="intro">

			[plura-wp-image attachment="1721"]

			<img src="assets/media/logo_reverso_complete.svg" id="rg-logo"/>

		</div>

		[rg-theme-slider-intro]

	</div>

	<div class="swiper-pagination"></div>

	<div class="rg-intro-slider-prev swiper-button-prev">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
	</div>
	<div class="rg-intro-slider-next swiper-button-next">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
	</div>

</div>



<div class="rg-intro-slider-thumbs swiper">

	<div class="rg-intro-slider-thumbs-wrapper swiper-wrapper">

		<div class="swiper-slide">[plura-wp-image attachment="1721"]</div>

		[rg-theme-slider-intro thumbs=1]

	</div>

</div>
