/* ========================================
   Variables
   ======================================== */

:root {
	--rg-slider-title-pos: calc( var(--plura-wp-gap) * 4 );
	--rg-slider-thumb-height: 60px;
	--rg-slider-thumb-ratio: calc(2/3); /* 2:3 */
	--rg-slider-thumb-ratio-inverse: calc(1 / var(--rg-slider-thumb-ratio));
}


/* ========================================
   Global
   ======================================== */

body {
	overflow: hidden;
}

:is(.rg-slider, .rg-slider-thumbs) .swiper-slide > .plura-wp-image {
	height: 100%;
	object-fit: cover;
	width: 100%;
}


/* ========================================
   Main Slider
   ======================================== */

.rg-slider {
	height: 100dvh;
}

.rg-slider .swiper-slide {
	display: block;
	padding-inline: calc( ( 100dvw - var(--rg-globals-theme-width) ) / 2 );
	padding-top: var(--rg-globals-theme-header-h);
}


/* Overlay */
.rg-slider .swiper-slide::before {
	background-color: rgba(0, 0, 0, .4);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}


/* Slide content */
.rg-slider .swiper-slide > :is(.plura-wp-image, .plura-wp-title, .rg-datetime) {
	position: absolute;
}

.rg-slider .swiper-slide > .plura-wp-image {
	left: 0;
}

.rg-slider .swiper-slide > :is(.plura-wp-title, .rg-datetime) {
	left: calc( ( 100dvw - var(--rg-globals-theme-width) ) / 2 );
	width: var(--rg-globals-theme-width);
	z-index: 2;
}

.rg-slider .swiper-slide > .plura-wp-title,
.rg-slider .swiper-slide > .rg-datetime * {
	color: white;
}


/* Title */
.rg-slider .swiper-slide > .plura-wp-title {
	align-items: flex-end;
	bottom: var(--rg-slider-title-pos);
	display: flex;
	font-size: var(--rg-globals-theme-fonts-size-h1);
	font-weight: var(--rg-globals-theme-fonts-weight-bold);
	justify-content: flex-end;
	line-height: var(--rg-globals-theme-fonts-line-height-heading);
	padding-bottom: 0;
	text-align: right;
	text-transform: uppercase;
}


/* Datetime */
.rg-slider .swiper-slide > .rg-datetime {
	align-items: flex-end;
	top: calc( 100dvh - var(--rg-slider-title-pos) );
}


/* ========================================
   Individual Slides
   ======================================== */

/* Shop */
.rg-slider .swiper-slide[data-slider-type="shop"] .plura-wp-posts {
	--plura-wp-posts-gap: 3vw;
	position: relative;
	z-index: 1;
}

.rg-slider .swiper-slide[data-slider-type="shop"] .plura-wp-posts[data-type="rg_object"] {
	--plura-wp-posts-cols: 2;
}

@media (min-width: 768px) {
	.rg-slider .swiper-slide[data-slider-type="shop"] .plura-wp-posts[data-type="rg_object"] {
		--plura-wp-posts-cols: 3;
	}
}

.rg-slider .swiper-slide[data-slider-type="shop"] .plura-wp-posts[data-type="rg_object"] .plura-wp-post-featured-image {
	aspect-ratio: 1 / 1;
}

.rg-slider .swiper-slide[data-slider-type="shop"] .plura-wp-post :is(.plura-wp-post-title, .plura-wp-post-meta .plura-wp-post-meta-item .plura-wp-post-meta-item-value) {
	font-size: var(--rg-globals-theme-fonts-size-body-extra-small);
}

.rg-slider .swiper-slide[data-slider-type="shop"] .plura-wp-posts[data-type="rg_object"] * {
	color: white;
}


/* Intro */
.rg-slider .rg-slide.rg-intro #rg-logo {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 10dvw;
	z-index: 3;
}


/* ========================================
   Thumbs
   ======================================== */

.rg-slider-thumbs {
	bottom: calc( var(--plura-wp-gap) / 3 );
	height: var(--rg-slider-thumb-height);
	left: 50%;
	overflow: visible;
	position: absolute;
	transform: translateX(-50%);
	width: calc( var(--rg-slider-thumb-height) * var(--rg-slider-thumb-ratio-inverse) );
}

.rg-slider-thumbs .swiper-slide {
	border-radius: var(--rg-globals-theme-border-radius);
	outline: transparent 4px solid;
	overflow: hidden;
	transition: outline-color .5s ease-out, width .5s ease-out;
}

.rg-slider-thumbs .swiper-slide.swiper-slide-active {
	outline-color: var(--rg-globals-theme-colors-color1);
}

.rg-slider-thumbs .swiper-slide:not(.swiper-slide-active) {
	cursor: pointer;
	width: var(--rg-slider-thumb-height) !important;
}
