/* ========================================
   Posts
   ======================================== */


/* Common: Posts' Grids - Title */
.plura-wp-posts:is(
	[data-type="rg_artist"],
	[data-type="rg_exhibition"],
	[data-type="rg_object"]
 ) .plura-wp-post .plura-wp-post-title {
	font-size: var(--rg-globals-theme-fonts-size-body-small);
	font-weight: var(--rg-globals-theme-fonts-weight-light);
}


/* Common: Posts - RG Object [ALL] + Publication [More] */
.plura-wp-posts:is([data-type="rg_object"],[data-type="rg_publication"]) .plura-wp-post .plura-wp-post-title {
	font-weight: var(--rg-globals-theme-fonts-weight-bold);
}

.plura-wp-posts:is([data-type="rg_object"],[data-type="rg_publication"]) .plura-wp-post :is(
	.plura-wp-link,
	.plura-wp-post-title,
	.plura-wp-post-meta .plura-wp-post-meta-item .plura-wp-post-meta-item-value
 ) {
	font-size: var(--rg-globals-theme-fonts-size-body-small);
	letter-spacing: var(--rg-globals-theme-fonts-letter-spacing-wide);
	text-align: center;
	text-transform: uppercase;
}


/* Common: Object / Publications [Related] */
:is(.single-rg_object, .single-rg_publication) .plura-wp-posts[data-exclude][data-label]::before {
	content: attr(data-label);
	grid-column: 1 / -1;
	font-size: var(--rg-globals-theme-fonts-size-body-small);
	font-weight: var(--rg-globals-theme-fonts-weight-bold);
	letter-spacing: var(--rg-globals-theme-fonts-letter-spacing-wide);
	text-transform: uppercase;
}

:is(.single-rg_object, .single-rg_publication) .plura-wp-posts[data-exclude] .plura-wp-post::before {
	background-color: black;
	content: '';
	height: 100%;
	opacity: 0;
	width: 100%;
	transition: all var(--rg-globals-theme-anim-speed) ease-out;
	z-index: 2;
}

:is(.single-rg_object, .single-rg_publication) .plura-wp-posts[data-exclude] .plura-wp-post .plura-wp-post-meta .plura-wp-post-meta-item .plura-wp-post-meta-item-value {
	font-size: var(--rg-globals-theme-fonts-size-body-extra-small);
}


/* Common: Object / Publications - Title + Meta (no Post) */
:not(.plura-wp-post) > .plura-wp-post-title {
	font-size: var(--rg-globals-theme-fonts-size-body);
	font-weight: var(--rg-globals-theme-fonts-weight-bold);
	letter-spacing: var(--rg-globals-theme-fonts-letter-spacing-wide);
	text-transform: uppercase;
}

:not(.plura-wp-post) > .plura-wp-post-meta .plura-wp-post-meta-item[data-label]::before {
	content: attr(data-label)':';
	font-weight: var(--rg-globals-theme-fonts-weight-bold);
}


/* RG Object - Title */
.plura-wp-posts[data-type="rg_object"] .plura-wp-post .plura-wp-post-title {
	font-size: var(--rg-globals-theme-fonts-size-body);
	line-height: var(--rg-globals-theme-fonts-line-height-body);
	padding-bottom: 0;
}


/* Artist / Exhibition */
:is(.rg-artist-exhibitions, .rg-exhibition-artists),
:is(.rg-artist-exhibitions, .rg-exhibition-artists) :is(.rg-artist-exhibition, .rg-exhibition-artist) {
	font-size: var(--rg-globals-theme-fonts-size-body-small);
	font-weight: var(--rg-globals-theme-fonts-weight-bold);
}


/* Exhibition Datetime */
.rg-datetime * {
	font-family: var(--rg-globals-theme-fonts-family-body);
	font-size: var(--rg-globals-theme-fonts-size-body-small);
	font-weight: var(--rg-globals-theme-fonts-weight-bold);
}


/* ========================================
   Fancybox trigger
   ======================================== */

.plura-wp-posts .plura-wp-post .rg-fancybox-wrapper .rg-fancybox-trigger {
	color: var(--rg-globals-theme-colors-color1);
	cursor: pointer;
}

/* anim */
.plura-wp-posts[data-exclude] .plura-wp-post .rg-fancybox-wrapper .rg-fancybox-trigger,
.plura-wp-posts:not([data-exclude]) .plura-wp-post .rg-fancybox-wrapper {
	opacity: 0;
	visibility: hidden;
	transition: visibility var(--rg-globals-theme-anim-speed) linear, opacity var(--rg-globals-theme-anim-speed) ease-out;
}
