
<div class="rg-slider swiper">

	<div class="rg-slider-wrapper swiper-wrapper">

		<div class="swiper-slide rg-intro" data-slide-type="intro">

			[plura-wp-image attachment="1721"]

			<img src="assets/media/logo_reverso_complete.svg" id="rg-logo"/>

		</div>

		[rg-theme-slider-intro]

	</div>

	<div class="swiper-pagination"></div>

	<div class="rg-slider-prev swiper-button-prev">Prev</div>
	<div class="rg-slider-next swiper-button-next">Next</div>

</div>



<div class="rg-slider-thumbs swiper">

	<div class="rg-slider-thumbs-wrapper swiper-wrapper">

		<div class="swiper-slide">[plura-wp-image attachment="1721"]</div>

		[rg-theme-slider-intro thumbs=1]

	</div>

</div>