
<div class="rg-slider swiper">

	<div class="rg-slider-wrapper swiper-wrapper">

		[plura-wp-posts type="page" ids=7435 context="rg-theme-component-intro" wrap=0 link=-1]

		[plura-wp-posts type="rg_exhibition" terms=14 taxonomy="rg_exhibitions_category" context="rg-theme-component-intro" wrap=0 link=-1]

	</div>

	<div class="swiper-pagination"></div>

	<div class="rg-slider-prev swiper-button-prev">Prev</div>
	<div class="rg-slider-next swiper-button-next">Next</div>

</div>



<div class="rg-slider-thumbs swiper">

	<div class="rg-slider-thumbs-wrapper swiper-wrapper">

		[plura-wp-posts type="page" ids=7435 context="rg-theme-component-intro-thumbs" wrap=0 link=-1]

		[plura-wp-posts type="rg_exhibition" terms=14 taxonomy="rg_exhibitions_category" context="rg-theme-component-intro-thumbs" wrap=0 link=-1]

	</div>

	<div class="swiper-pagination"></div>

	<div class="rg-slider-thumbs-prev swiper-button-prev">Prev</div>
	<div class="rg-slider-thumbs-next swiper-button-next">Next</div>

</div>